{% extends 'core/base.html' %}
{% load static %}

{% block title %}{{ persona.nombres }} {{ persona.apellidos }} - Portada{% endblock %}

{% block cabecera %}
<header class="masthead" style="background-image: url('{% static 'core/img/home-bg.jpg' %}')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>{{ persona.nombres }} {{ persona.apellidos }}</h1>
          <span class="subheading">{{ persona.titulo_academico }}</span>
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock %}

{% block content %}
{% endblock %}